*{
    padding: 0em;
    margin: 0em;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    background-color: indigo;
    font-family: sans-serif;
}
.joistick{
    position: absolute;
    width: 100%;
    background-color: rgba(128,128,128,.1);
    bottom: 0;
    color: yellow;
    display: none;
}
.canvas{
    position: fixed;
    top: 0;
    width: 1244px;
    border: 1px solid red;
}
div.point{
    background-color: red;
    width: 5px;
    height: 5px;
    position: fixed;
    top: 0;
    border-radius: 50%;
    left: 200px;
    top: 100px;
    z-index: 1;
    display: none;
}
div.monitor4{
    position: fixed;
    top: 0;
    right: 0;
    color: red;
    width: 0;
}

div.monitor4::after, div.monitor4::before{
    color: chartreuse;
    position: fixed;
    z-index: 1;
    left: 1em;
}
div.monitor4::before{
    content: '[AWSD] para caminar';
    bottom: 2em;
}
div.monitor4::after{
    content: '[←↑→↓] para mover astronauta';
    bottom: 1em;
}